<DOCTYPE html> 
<html> 
    <head>
        <title> website </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">; 
    </head>
    <body>
        <div class="banner">
            <div class= "navbar"> 
                <img src="{{ url_for('static',filename='styles/logo.jpg') }}" class="logo">
            <ul>
                <li><a href="history"> History</a></li>
                <li><a href="book"> Book now</a></li>
                <li><a href="login"> Login</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>MoonLight Hotel</h1>
            <p>Discover all our rooms now!</p>
            <button class="join"><a href="book">Discover</a></button>
        </div>
    </body>
</html>
