<!DOCTYPE html>
<html lang="en">
<head>
    <title>rooms</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/room.css') }}"> 
</head>
<body> 
    <div class="main">
        <div class="navbar">
            <div class="icon">
                
                <img src="{{ url_for('static',filename='styles/logo.jpg') }}" class="logo">
            </div>

            <div class="menu">
                <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="book#about">ABOUT</a></li>
                  <li><a href="book#packages">OFFERS</a></li>
                  <li><a href="book#contact">CONTACT</a></li>  
                  <li><a href="room">ROOMS</a></li>
                  <li><a href="book">Book Now</a></li>
                  <li><a href="profile">PROFILE</a></li>
                  <li><a href="history">HISTORY</a></li>
                </ul>
            </div>

        </div>
    </div>
    <section class="offer mtop" id="services">
        <div class="container">
          <div class="heading">
            <h1>EXPLORE OUR ROOMS </h1>

          </div>
    
         <div class="content grid2 mtop">
            <div class="box flex">
              <div class="left">
                <img src="{{ url_for('static',filename='styles/h1.jpg') }}" alt="">
              </div>
              <div class="right">
                <h4>Single room</h4>
                
                <p>1 Single Bed</p>
                <h5>From $800.0/night</h5>
                <button class="flex1">
                  <span>Book now</span>
                  <i class="fas fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>
            <div class="box flex">
              <div class="left">
                <img src="{{ url_for('static',filename='styles/r1.jpg') }}" alt="">
              </div>
              <div class="right">
                <h4>Double Room</h4>
            
                <p>1 Double Bed</p>
                <h5>From $850.0/night</h5>
                <button class="flex1">
                  <span>Book now</span>
                  <i class="fas fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>
            <div class="box flex">
              <div class="left">
                <img src="{{ url_for('static',filename='styles/r3.jpg') }}" alt="">
              </div>
              <div class="right">
                <h4> Excecutive Suite</h4>
                
                <p> 2 Double Beds</p>
                <h5>From $1200.0/night</h5>
                <button class="flex1">
                  <span>Book now</span>
                  <i class="fas fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>
            <div class="box flex">
              <div class="left">
                <img src="{{ url_for('static',filename='styles/r4.jpg') }}" alt="">
              </div>
              <div class="right">
                <h4>Standard Room</h4>
                <p> 1 Double, 1 Single Bed</p>
                <h5>From $1000.0/night</h5>
                <button class="flex1">
                  <span>Book now</span>
                  <i class="fas fa-arrow-circle-right"></i>
                </button>
              </div>
            </div>

            <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/r5.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Basic Suite</h4>
                  
                  <p> 1 Double, 2 Single Beds </p>
                  <h5>From $1090.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/r7.jpeg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Triple Room</h4>
              
                  <p> 3 Single Beds</p>
                  <h5>From $1300.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/quad.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Quadruple Room</h4>
                  
                  <p> 4 Single Beds</p>
                  <h5>From $2000.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/h1.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Single room</h4>
                  
                  <p>1 Single Bed</p>
                  <h5>From $800.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/r1.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Double Room</h4>
              
                  <p>1 Double Bed</p>
                  <h5>From $850.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/r3.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4> Excecutive Suite</h4>
                  
                  <p> 2 Double Beds</p>
                  <h5>From $1200.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
              <div class="box flex">
                <div class="left">
                  <img src="{{ url_for('static',filename='styles/r4.jpg') }}" alt="">
                </div>
                <div class="right">
                  <h4>Standard Room</h4>
                  <p> 1 Double, 1 Single Bed</p>
                  <h5>From $1000.0/night</h5>
                  <button class="flex1">
                    <span>Book now</span>
                    <i class="fas fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
  
              <div class="box flex">
                  <div class="left">
                    <img src="{{ url_for('static',filename='styles/r5.jpg') }}" alt="">
                  </div>
                  <div class="right">
                    <h4>Basic Suite</h4>
                    
                    <p> 1 Double, 2 Single Beds </p>
                    <h5>From $1090.0/night</h5>
                    <button class="flex1">
                      <span>Book now</span>
                      <i class="fas fa-arrow-circle-right"></i>
                    </button>
                  </div>
                </div>
                <div class="box flex">
                  <div class="left">
                    <img src="{{ url_for('static',filename='styles/r7.jpeg') }}" alt="">
                  </div>
                  <div class="right">
                    <h4>Triple Room</h4>
                
                    <p> 3 Single Beds</p>
                    <h5>From $1300.0/night</h5>
                    <button class="flex1">
                      <span>Book now</span>
                      <i class="fas fa-arrow-circle-right"></i>
                    </button>
                  </div>
                </div>
                <div class="box flex">
                  <div class="left">
                    <img src="{{ url_for('static',filename='styles/quad.jpg') }}" alt="">
                  </div>
                  <div class="right">
                    <h4>Quadruple Room</h4>
                    
                    <p> 4 Single Beds</p>
                    <h5>From $2000.0/night</h5>
                    <button class="flex1">
                      <span>Book now</span>
                      <i class="fas fa-arrow-circle-right"></i>
                    </button>
                  </div>
                </div>
                <div class="box flex">
                    <div class="left">
                      <img src="{{ url_for('static',filename='styles/h1.jpg') }}" alt="">
                    </div>
                    <div class="right">
                      <h4>Single room</h4>
                      
                      <p>1 Single Bed</p>
                      <h5>From $800.0/night</h5>
                      <button class="flex1">
                        <span>Book now</span>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box flex">
                    <div class="left">
                      <img src="{{ url_for('static',filename='styles/r1.jpg') }}" alt="">
                    </div>
                    <div class="right">
                      <h4>Double Room</h4>
                  
                      <p>1 Double Bed</p>
                      <h5>From $850.0/night</h5>
                      <button class="flex1">
                        <span>Book now</span>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box flex">
                    <div class="left">
                      <img src="{{ url_for('static',filename='styles/r3.jpg') }}" alt="">
                    </div>
                    <div class="right">
                      <h4> Excecutive Suite</h4>
                      
                      <p> 2 Double Beds</p>
                      <h5>From $1200.0/night</h5>
                      <button class="flex1">
                        <span>Book now</span>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box flex">
                    <div class="left">
                      <img src="{{ url_for('static',filename='styles/r4.jpg') }}" alt="">
                    </div>
                    <div class="right">
                      <h4>Standard Room</h4>
                      <p> 1 Double, 1 Single Bed</p>
                      <h5>From $1000.0/night</h5>
                      <button class="flex1">
                        <span>Book now</span>
                        <i class="fas fa-arrow-circle-right"></i>
                      </button>
                    </div>
                  </div>
      
                  <div class="box flex">
                      <div class="left">
                        <img src="{{ url_for('static',filename='styles/r5.jpg') }}"alt="">
                      </div>
                      <div class="right">
                        <h4>Basic Suite</h4>
                        
                        <p> 1 Double, 2 Single Beds </p>
                        <h5>From $1090.0/night</h5>
                        <button class="flex1">
                          <span>Book now</span>
                          <i class="fas fa-arrow-circle-right"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box flex">
                      <div class="left">
                        <img src="{{ url_for('static',filename='styles/r7.jpeg') }}" alt="">
                      </div>
                      <div class="right">
                        <h4>Triple Room</h4>
                    
                        <p> 3 Single Beds</p>
                        <h5>From $1300.0/night</h5>
                        <button class="flex1">
                          <span>Book now</span>
                          <i class="fas fa-arrow-circle-right"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box flex">
                      <div class="left">
                        <img src="{{ url_for('static',filename='styles/quad.jpg') }}" alt="">
                      </div>
                      <div class="right">
                        <h4>Quadruple Room</h4>
                        
                        <p> 4 Single Beds</p>
                        <h5>From $2000.0/night</h5>
                        <button class="flex1">
                          <span>Book now</span>
                          <i class="fas fa-arrow-circle-right"></i>
                        </button>
                      </div>
                    </div>
              

                
              
        </div>
      </section>
</body>
